<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUFeedURL</key>
	<string>https://pub-6917a81ec60742c685a6b5517bf87869.r2.dev/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>t5Ry1d9czrKPVbX4A8l/mAfyIApnzCq69DizkTrJM6M=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>SUAllowsAutomaticUpdates</key>
	<true/>
	<key>SUAutomaticallyUpdate</key>
	<false/>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
	<key>SUEnableInstallerConnectionService</key>
	<true/>
	<key>SUEnableInstallerStatusService</key>
	<true/>
</dict>
</plist>
